<div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Categorias</h1>
            <div class="list-group">
                <% @categories.each do |category| %>
                    <a href="/site/category/<%= category.id%>" class="list-group-item" id="item-<%= category.id%>">
                        <%= category.description %>
                    </a>
                    <% end %>
            </div>

        </div>