document.addEventListener("turbolinks:load", function() {
    <% Category.all.each do |category| %>
    $("#item-<%=category.id%>").mouseenter(function(){
        $("#item-<%=category.id%>").addClass("active");
    });
    $("#item-<%=category.id%>").mouseleave(function(){
        $("#item-<%=category.id%>").removeClass("active");
    });
    <% end %>
    
    $("#login").mouseenter(function(){
        $("#login").addClass("btn-secondary rounded");
    });
    $("#login").mouseleave(function(){
        $("#login").removeClass("btn-secondary rounded");
    });
    
    $("#comment-button").click(function(){
        $("#comments").append("<p>" + $("#comment-text").val() + "</p>" +
                              "<small class='text-muted'>Commented now by you</small>" +
                              "<hr>"
            );
        setTimeout(function() {
            $("#comment-text").val("");
        }, 10);
    });

})
